# QR codes générés automatiquement
/qrcodes/

# Traductions binaires compilées (souvent générés localement)
#languages/*.mo

# Dépendances gérées via Composer
/vendor/
composer.lock

# Fichiers de Log
*.log

# Fichiers temporaires
.DS_Store
Thumbs.db

# IDE / éditeurs
.vscode/

# Système
.env