# QR codes générés automatiquement
qrcodes/

# Traductions binaires compilées (souvent générés localement)
#languages/*.mo

# Dépendances gérées via Composer
/vendor/
composer.lock

# Fichiers temporaires
.DS_Store

# IDE / éditeurs
.vscode/

# Système
.env